.App {
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > div {
  border-radius: 6px;
  border: 1px solid #ebebeb;
  background: #f2f3ff;
  padding: 16px;
  font-size: 24px;
}

.todo-wrapper {
  padding: 64px;
  background-color: #fff;
  border-radius: 12px;
  max-width: 500px;
  margin: auto;
  margin-top: 100px;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  & h2 {
    font-family: "Inter", sans-serif;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
}

.wrap-line {
  border: 1px solid #ebebeb;
  width: 100%;
}
