.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 650px) {
  .footer {
    flex-direction: column;
  }
  .footer > div {
    margin-top: 10px;
  }
}