.text-input {
  border: none;
  height: 32px;
  width: 100%;
  font-size: 16px;
}

.text-input::placeholder {
  font-size: 16px;
  color: #aaaaaa;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
