.checkbox {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  margin-right: 0.5em;
  border: 1px solid #575767;
  outline: none;
  cursor: pointer;
}

.checkbox-container > label {
  display: flex;
  align-items: center;
}

.checkbox-container > span {
  color: #575767;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.checkbox.checked {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z'/%3E%3C/svg%3E");
  position: relative;
  background-position: center;
  background-size: contain;
}
