.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > div {
  border-radius: 6px;
  border: 1px solid #ebebeb;
  background: #f2f3ff;
  padding: 16px;
  font-size: 24px;
}

.header > h2 {
  font-family: "Inter", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

@media screen and (max-width: 650px) {
  .header > h2 {
    font-size: 36px;
  }
  .header > div {
    padding: 10px;
    font-size: 16px;
  }
}

@media screen and (max-width: 350px) {
  .header {
    flex-direction: column-reverse;
  }
  .header > h2 {
    font-size: 24px;
  }
}
